@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/*CONFIGURAÇÕES GERAIS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --font1: 'Times New Roman', Times, serif;
    --font2: 'Source Serif Pro', serif;
    --font3:  'Courgette', cursive;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

/*HEADER*/

header{
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;
    font-family: var(--font1);
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 5vw;
}

header > p{
    padding-bottom: 50px;
}

header .link-header, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header .link-header:hover, footer a:hover{
    cursor: pointer;
    text-decoration: underline;
}

/*CORPO DO TEXTO*/
body section{
    padding: 10vh 0 10vh 30px;
    line-height: 1.5em;
    font-family: var(--font2);
    font-size: 3vw;
}

section > p{
    padding-bottom: 1em;
}

section.normal{
    background-color: white;
    color: black;
}

section.image{
    background-color: rgb(70, 70, 70);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.452);
    color: white;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section.image p{
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#img2 p{
    background-color: rgba(0, 0, 0, 0.301);
    border-radius: 5px;
}

section#img1 p{
    background-color: rgba(0, 0, 0, 0.151);
    border-radius: 5px;
}

section#img1{
    background-image: url(../imagens/background001.jpg);
}

section#img2{
    background-image: url(../imagens/background002.jpg);
}

/*FOOTER*/
footer{
    background-color: rgb(15, 15, 15);
    color: white;
    text-align: center;

    padding: 10px;
}